# Classification reqs
transformers==4.2.1
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
pandas
pyyaml
sklearn
matplotlib
nltk

# Seq2seq reqs
tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
# matplotlib
git-python==1.0.3
faiss-cpu
streamlit
elasticsearch
nltk
# pandas
datasets >= 1.1.3
fire
pytest
conllu
sentencepiece != 0.1.92
protobuf
sentence_splitter

# Other reqs
wandb